# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
Thumbs.db

# Logs
*.log
npm-debug.log*

# Temporary files
*.tmp
*.temp

# Environment variables (if you add any in the future)
.env
.env.local
.env.*.local
